.top-buffer{
    margin-top:10px;
}

.appointmenttable tr td:nth-child(2){
    width: 150px;
}

.appointmenttable tr:nth-child(1) td{
    border-top: none;
}
a.nodecoration{
    text-decoration:none;
}