<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="appointment.name" class="form-control" id="name" placeholder="Name Title Here"/>
    </div>
</div>
<div class="form-group">
    <label for="username" class="col-sm-2 control-label">User Name</label>
    <div class="col-sm-10">
        <input type="text" ng-model="appointment.username" class="form-control" id="username" placeholder="User Name"/>
    </div>
</div>
<div class="form-group">
    <label for="reason" class="col-sm-2 control-label">Reason Visit</label>
    <div class="col-sm-10">
        <input type="text" ng-model="appointment.reason" class="form-control" id="reason" placeholder="Reason to visit"/>
    </div>
</div>

<div class="form-group">
    <label for="start" class="col-sm-2 control-label">Start Time</label>
    <div class="col-sm-10">
        <input type="text" ng-model="appointment.start" class="form-control" id="start" placeholder="Start Time"/>
    </div>
</div>

<div class="form-group">
    <label for="end" class="col-sm-2 control-label">End Time</label>
    <div class="col-sm-10">
        <input type="text" ng-model="appointment.end" class="form-control" id="end" placeholder="End Time"/>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
</div>