<a ui-sref="newAppointment" class="btn-primary btn-lg nodecoration">Add New Appointment</a>
<table class="table appointmenttable">
    <tr>
        <td><h3>All Name</h3></td>
        <td></td>
    </tr>
    <tr ng-repeat="appointment in appointments">
        <td>{{appointment.username}}</td>
        <td>
            <a class="btn btn-primary" ui-sref="viewAppointment({id:appointment._id})">View</a>
            <a class="btn btn-danger"  ng-click="deleteAppointment(appointment)">Delete</a>
        </td>
    </tr>
</table>