<table class="table appointmenttable">
    <tr>
        <td><h3>Details for {{appointment.title}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>UserName</td>
        <td>{{appointment.username}}</td>
    </tr>
    <tr>
        <td>Reason</td>
        <td>{{appointment.reason}}</td>
    </tr>
    <tr>
        <td>Start Time</td>
        <td>{{appointment.starttime}}</td>
    </tr>
    <tr>
        <td>End Time</td>
        <td>{{appointment.EndTime}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editAppointment({id:appointment._id})">Edit</a>
</div>